.visual-barchart36D4B60A560147C4BF611C9574D518F9_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-barchart36D4B60A560147C4BF611C9574D518F9_DEBUG p em {
  background: yellow;
  padding: 5px;
}
